<html>
  <head>
    <title>Controls for Vcluster</title>
  </head>
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <script src="/jquery.min.js" type="text/javascript"></script>
  <body>
    <center><h1>Controls for Vcluster</h1></center>
    <hr>
    <!--Content starts below this row-->

<style type="text/css">
.error_msg {
  color: red;
}

.success_msg {
  color: green;
}

.cid_item {
  color: #70654d;
}

.refresh_cid_list {
  color: gray;
}

.add_link {
  color : green;
}

.vmachine_link {
  color : gray;
}

.remove_link {
  color : red;
}

.user_name {
  color : brown;
}

.vm_link {
  color : gray;
}
</style>

<script>

function show_msg(msg, success) {
  var notice_pane = $("#notice");
  if (success) {
    notice_pane.html("<div class='success_msg'>" + msg + "</div>");
  } else {
    notice_pane.html("<div class='error_msg'>" + msg + "</div>");
  }
}

function delete_vcluster(vcluster_cid) {
  $.getJSON("/vcluster/delete/" + vcluster_cid,
    function(result) {
      if (result.success) {
        refresh_cid_list();
        init_info_pane();
      }
      show_msg(result.msg, result.success);
    }
  );
}

function remove_vmachine(vcluster_cid, vmachine_vid) {
  $.getJSON("/vcluster/remove_vmachine/" + vcluster_cid + "/" + vmachine_vid,
    function(result) {
      if (result.success) {
        show_vcluster(vcluster_cid);
      }
      show_msg(result.msg, result.success);
    }
  );
}

function add_vmachine(vcluster_cid) {
  var vmachine_vid = $("input[name='input_vid']").val();
  $.getJSON("/vcluster/add_vmachine/" + vcluster_cid + "/" + vmachine_vid,
    function(result) {
      if (result.success) {
        show_vcluster(vcluster_cid);
      }
      show_msg(result.msg, result.success);
    }
  );
}

function show_vcluster(vcluster_cid) {
  var info_pane = $("#info_pane");
  $.getJSON("/vcluster/info/" + vcluster_cid,
    function(result) {
      var html = "";
      if (result.user == "") {
        html += "Not owned by any user";
      } else {
        html += "Owned by '<a class=\"user_name\" href='/user#" + result.user +  "'>" + result.user + "</a>'";
      }
      html += "<p>Vcluster cid: " + result.vcluster_cid + "<p>";
      html += "Vcluster vmachines list:<br>";
      for (i = 0; i < result.vmachines.length; i++) {
        html += "<a class='vm_link' href='/vmachine#" + result.vmachines[i].vid + "'>" + result.vmachines[i].vid + "</a> "
              + "<a class='remove_link' href='#' onclick=\"remove_vmachine('" + vcluster_cid
              + "', '" + result.vmachines[i].vid + "')\">remove!</a><br>";
      }
      html += "<p>Existing vmachine vid: <input type='text' name='input_vid'>"
            +"<a href='#' class='add_link' onclick='add_vmachine(\""
            + vcluster_cid + "\")'>Add</a><p>";
      html += "<p><a class='remove_link' href='#' onclick='delete_vcluster(\""
            + vcluster_cid + "\")'>Delete vcluster " + vcluster_cid + "!</a>";
      info_pane.html(html);
    }
  );
}

function create_vcluster() {
  $.getJSON("/vcluster/create",
    function(result) {
      if (result.success) {
        refresh_cid_list();
      }
      show_msg(result.msg, result.success);
    }
  );
}

function refresh_cid_list() {
  var cid_list = $("#cid_list");
  cid_list.empty();
  $.getJSON("/vcluster/list",
    function(result) {
      for (i = 0; i < result.length; i+=2) {
        var html = "<a href='#' class='cid_item' onclick='show_vcluster(\"" + result[i] + "\")'>" + result[i] + "</a>  (" +
        
              result[i+1]
         + ")</br>"
                /*+ "<a href='#' class='remove_link' onclick='delete_vcluster(\"" + result[i] + "\")'>delete!</a><br>";*/
        cid_list.append(html);
      }
    }
  );
}

function init_info_pane() {
  $("#info_pane").html("Click a vcluster cid to show detail information.");
}

$(document).ready(function() {
  init_info_pane();
  refresh_cid_list();
  var loc = window.location.toString();
  if (loc.indexOf('#') > 0) {
    var cid = loc.split('#')[1];
    if (cid.length > 0) {
      show_vcluster(cid);
    }
  }
});


</script>

<table cellpadding='10'>
<tr>
<td>
<a class='add_link' href="#" onclick="create_vcluster()">Create new vcluster</a>
</td>
<td id="notice"></td>
</tr>
<tr>
<td valign='top'>
  <a href="#" class='refresh_cid_list' onclick="refresh_cid_list()">Refresh vcluster list</a><p>
  <div id="cid_list"></div>
</td>
<td valign="top">
  <div id="info_pane"></div></td>
</tr>
</table>

    <!--Content ends above this row-->
    <div class="footer">
      This page belongs to the "Core" component of Nova project, hosted at <a href="http://www.github.com/santazhang/nova">http://www.github.com/santazhang/nova</a>.
    </div>
  </body>
</html>
