<html>
  <head>
    <title>Controls for Vcluster</title>
  </head>
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <body>
    <center><h1>Controls for Vcluster</h1></center>
    <hr>
    <!--Content starts below this row-->


    <!--Content ends above this row-->
    <div class="footer">
      This page belongs to the "Core" component of Nova project, hosted at <a href="http://www.github.com/santazhang/nova">http://www.github.com/santazhang/nova</a>.
    </div>
  </body>
</html>
