<html>
<head>
<title>Welcome, <%=h current_user.name != "" ? current_user.name : current_user.login %></title>

<link href="/stylesheets/custom_buttons.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/javascripts/jquery.js"> </script>

<style type="text/css" media="screen">

body {
  position: absolute;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
  color: #333;
  height: 100%;
  width: 100%;
}

</style>
<script type="text/javascript">

</script>

</head>
<body scroll="no">

</body></html>

