<html>
<head>
<title>Welcome, <%=h current_user.name != "" ? current_user.name : current_user.login %></title>

<link href="/stylesheets/prototype_window/default.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/prototype_window/mac_os_x.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/custom_buttons.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/javascripts/prototype.js"> </script>
<script type="text/javascript" src="/javascripts/effects.js"> </script>
<script type="text/javascript" src="/javascripts/prototype_window/window.js"> </script>
<script type="text/javascript" src="/javascripts/prototype_window/window_effects.js"> </script>

<%= growl4rails_includes %>
<style type="text/css" media="screen">

body {
  position: absolute;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
  color: #333;
  height: 100%;
  width: 100%;
}

table {
  margin: 0;
  padding: 0;
  border-spacing: 0 0;
}

#layout_frame_top {
  position: absolute;
  background-color: #bbaabb;
  top: 0px;
}

#layout_frame_left {
  position: absolute;
  background-color: gray;
  left: 0px;
}

#layout_frame_center {
  position: absolute;
  background-color: #555577;
}

#layout_left_toggler {
  width: 5px;
}

#layout_top_toggler {
  height: 5px;
  left: 0px;
}

#layout_frame_top__logo_holder {
  position: absolute;
  left: 40px;
  top: 10px;
  width: 200px;
}

#layout_frame_top__user_info_holder {
  position: absolute;
  width: 240px;
  background-color: #667788;
}

#layout_frame_top__navigator {
  position: absolute;
  background-color: #aabbbb;
}


.layout_toggler {
  cursor: hand;
  position: absolute;
}

.layout_toggler_normal {
  background-color: #6688bb;
}

.layout_toggler_hover {
  background-color: #555577;
}

</style>
<script type="text/javascript">


  function getWindowWidth() {
    return window.innerWidth || (window.document.documentElement.clientWidth || window.document.body.clientWidth);
  }
  
  function getWindowHeight() {
    return window.innerHeight || (window.document.documentElement.clientHeight || window.document.body.clientHeight);
  }

  /* variables to layout page */
  var g_layout_left_width = 300;
  var g_layout_top_height = 90;
  var g_layout_show_left = true;
  var g_layout_show_top = true;
  var g_layout_toggler_size = 5;
  
  function do_layout() {
    var left_frame = $("layout_frame_left");
    var top_frame = $("layout_frame_top");
    var center_frame = $("layout_frame_center");
    
    var left_toggler = $("layout_left_toggler");
    var top_toggler = $("layout_top_toggler");
    
    var page_width = getWindowWidth();
    var page_height = getWindowHeight();

    if (g_layout_show_left) {
      
      var top_offset;
      if (g_layout_show_top) {
        top_offset = g_layout_top_height + g_layout_toggler_size;
      } else {
        top_offset = g_layout_toggler_size;
      }
      
      left_frame.setStyle("top:" + top_offset);
      left_frame.setStyle("width:" + g_layout_left_width);
      left_frame.setStyle("height: " + (page_height - top_offset));

      center_frame.setStyle("top:" + top_offset);
      center_frame.setStyle("left:" + (g_layout_left_width + g_layout_toggler_size));
      center_frame.setStyle("height: " + (page_height - top_offset));
      center_frame.setStyle("width: " + (page_width - g_layout_left_width - g_layout_toggler_size));
      
      top_toggler.setStyle("top:" + (top_offset - g_layout_toggler_size));
      top_toggler.setStyle("width:" + page_width);
      
      left_toggler.setStyle("top:" + top_offset);
      left_toggler.setStyle("left:" + g_layout_left_width);
      left_toggler.setStyle("height:" + (page_height - top_offset));
      
    } else {

      var top_offset;
      if (g_layout_show_top) {
        top_offset = g_layout_top_height + g_layout_toggler_size;
      } else {
        top_offset = g_layout_toggler_size;
      }

      center_frame.setStyle("top:" + top_offset);
      center_frame.setStyle("left:" + g_layout_toggler_size);
      center_frame.setStyle("width:" + (page_width - g_layout_toggler_size));
      center_frame.setStyle("height:" + (page_height - top_offset));

      top_toggler.setStyle("top:" + (top_offset - g_layout_toggler_size));
      top_toggler.setStyle("width:" + page_width);
      
      left_toggler.setStyle("top:" + top_offset);
      left_toggler.setStyle("left:0px");
      left_toggler.setStyle("height:" + (page_height - top_offset));
    }
    
    if (g_layout_show_left) {
      left_frame.show();
    } else {
      left_frame.hide();
    }
    
    if (g_layout_show_top) {
      top_frame.setStyle("width:" + page_width);
      top_frame.setStyle("height:" + g_layout_top_height);
      
      do_render_top_frame();
      
      top_frame.show();
    } else {
      top_frame.hide();
    }
    
    center_frame.show();
    
    left_toggler.show();
    top_toggler.show();
  }
  
  function do_render_top_frame() {
    var page_width = getWindowWidth();
    var page_height = getWindowHeight();
    
    var logo_holder = $("layout_frame_top__logo_holder");
    var logo_holder_width = parseInt(logo_holder.getStyle("width"));
    
    var user_info_holder = $("layout_frame_top__user_info_holder");
    var user_info_holder_width = parseInt(user_info_holder.getStyle("width"));
    
    user_info_holder.setStyle("top:0px");
    user_info_holder.setStyle("left:" + (page_width - user_info_holder_width));
    user_info_holder.setStyle("width:" + user_info_holder_width);
    user_info_holder.setStyle("height:90px");
    
    var top_navi = $("layout_frame_top__navigator");
    top_navi.setStyle("height:90px");
    top_navi.setStyle("top:0px");
    top_navi.setStyle("left:" + logo_holder_width);
    top_navi.setStyle("width:" + (page_width - logo_holder_width - user_info_holder_width));
  }
  
  
  window.onload = function() {
  
    window.onresize = do_layout;
    do_layout();
    
    function install_layout_toggler(toggler, click_callback) {
      toggler.observe('mouseover', function(e) {
        toggler.removeClassName("layout_toggler_normal");
        toggler.addClassName("layout_toggler_hover");
      });
      
      toggler.observe('mouseout', function(e) {
        toggler.removeClassName("layout_toggler_hover");
        toggler.addClassName("layout_toggler_normal");
      });
      
      toggler.observe('click', click_callback);
    };

    install_layout_toggler($('layout_left_toggler'), function() {
      g_layout_show_left = !g_layout_show_left;
      do_layout();
    });
    
    install_layout_toggler($('layout_top_toggler'), function() {
      g_layout_show_top = !g_layout_show_top;
      do_layout();
    });
  }

</script>

</head>
<body>

<div id="layout_top_toggler" style="display: none;" class="layout_toggler layout_toggler_normal"></div>
<div id="layout_left_toggler" style="display: none;" class="layout_toggler layout_toggler_normal"></div>

<div id="layout_frame_top" style="display: none;">
  <div id="layout_frame_top__logo_holder">
    <img src="/images/logo-small.png"></img>
  </div>
  <div id="layout_frame_top__navigator">
    top navi
  </div>
  <div id="layout_frame_top__user_info_holder">
    User info panel
  </div>
</div>


<div id="layout_frame_left" style="display: none;"><%= yield :layout_left_frame %></div>
<div id="layout_frame_center" style="display: none;"><%= yield :layout_center_frame %></div>

</body></html>

