# ignore svn repository files
.svn/

# ignore unimportant folders
core/doc/
core/public/
core/vendor/
core/script/
core/log/
core/tmp/

# ignore database
core/db/*.sqlite3

# ignore temp files
*~
*.swp

# ignore Rakefile
Rakefile

