.hadoop-wizard-icon {
	background-image: url(images/hadoop-logo-small.png) !important;
}
.hadoop-wizard-shortcut img {
    background-image: url(images/hadoop-logo-large.png);
}

.hadoop-wizard-finished {
  background: #99ffcc
}

.hadoop-wizard-waiting {
  background: #ff99a3  
}

.hadoop-wizard-progresstable {
  border: 1
}

