# config file for nova system
#
# note: do not put spaces between '=' and values
# note: relative path are referenced to "nova home", that is, ".."


#########################
# master conifg section #
#########################

# where should the master bind to
master.bind_host=10.0.1.193

# listen port for master
master.bind_port=3000


#########################
# worker conifg section #
#########################

# where should the worker bind to
worker.bind_host=10.0.1.193

# listen port for worker
worker.bind_port=4000

# mask for vm in worker
worker.mask=255.255.255.0

# gateway for vm in worker
worker.gateway=10.0.1.254

# network interface for worker
vm_network_interface=eth0

# network bridge for worker
vm_network_bridge=br0

# vnc mouse pointer for worker
fix_vnc_mouse_pointer=true

# worker run root


##########################
# storage conifg section #
##########################

# storage engine. currently ftp or pnfs
storage.engine=pnfs

# ftp bind host
storage.ftp.bind_host=10.0.1.193


# ftp listen port
storage.ftp.bind_port=8021

# ftp home folder
storage.ftp.home=data/ftp_home

# idle time in seconds
storage.ftp.idle_time=60

# ftp admin username
storage.ftp.admin.username=admin

# ftp admin password
storage.ftp.admin.password=liquid

#pnfs host
storage.pnfs.bind_host=10.0.1.233

#########################
# vnode conifg section #
#########################
#vnode gateway
vnode.gateway_ip=10.0.1.254

#vnode subnet mask
vnode.subnet_mask=255.255.255.0

#vnode first usable ip
vnode.first_usable_ip=10.0.1.90

#vnode last usable ip
vnode.last_usable_ip=10.0.1.100

