body {
  margin: 0;
  margin-bottom: 25px;
  margin-top: 25px;
  padding: 0;
  background-color: #FFF;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
  color: #333;
}

h1 {
  font-size: 3.5em;
  color: #666;
}

input {
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
}

.footer {
  text-align: center;
  color: #663;
  background-color: #eea;
  padding: 10px;
}

.footer a {
  color: #440;
}
