<html>
  <head>
    <title>Controls for Vimage</title>
  </head>
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <script src="/jquery.min.js" type="text/javascript"></script>
  <body>
    <center><h1>Controls for Vimage</h1></center>
    <hr>
    <!--Content starts below this row-->
    
<style type="text/css">
.error_msg {
  color: red;
}

.success_msg {
  color: green;
}

.add_link {
  color : green;
}

.remove_link {
  color : red;
}

.refresh_vi_list {
  color: gray;
}

.hidden {
  color: red;
}

.not_hidden{
  color: green;
}
</style>

<script>

function show_msg(msg, success) {
  var notice_pane = $("#notice");
  if (success) {
    notice_pane.html("<div class='success_msg'>" + msg + "</div>");
  } else {
    notice_pane.html("<div class='error_msg'>" + msg + "</div>");
  }
}

function add_vimage() {
  var os_family = $("select[name='os_family']").val();
  var os_name = $("input[name='os_name']").val();
  var loc = $("input[name='location']").val();
  var comment = $("textarea[name='comment']").val();
  $.getJSON("/vimage/add",
    {
      "os_family" : os_family,
      "os_name" : os_name,
      "location" : loc,
      "comment" : comment
    },
    function(result) {
      show_msg(result.msg, result.success);
      refresh_vi_list();
    }
  );
}

function show_add_pane() {
  var main_pane = $("#main_pane");
  var html = "";
  html += "OS Family: <select name='os_family'>";
  html += "<option>Windows</option>";
  html += "<option>Linux</option>";
  html += "<option>Other</option>";
  html += "</select><br>";
  html += "OS Name: <input name='os_name' type='text'><br>";
  html += "Image Location: <input name='location' type='text'><br>";
  html += "Comments (optional):<br><textarea name='comment' cols=120 rows=20></textarea><br>";
  html += "<a href='#' class='add_link' onclick='add_vimage()'>Add</a>";
  html += "&nbsp;&nbsp;&nbsp;&nbsp;";
  html += "<a href='#' class='remove_link' onclick='refresh_vi_list()'>Cancel</a>";
  main_pane.html(html);
}

function vi_unhide(iid) {
  $.getJSON("/vimage/unhide/" + iid,
    function(result) {
      show_msg(result.msg, result.success);
      if (result.success) {
        refresh_vi_list();
      }
    }
  );
}

function vi_hide(iid) {
  $.getJSON("/vimage/hide/" + iid,
    function(result) {
      show_msg(result.msg, result.success);
      if (result.success) {
        refresh_vi_list();
      }
    }
  );
}


function get_vi_tr(vi_data) {
  var ret = "<tr id='vi_data_tr_gen_'" + vi_data.iid + " class='"
  
  if (vi_data.hidden == true) {
    ret += "hidden";
  } else {
    ret += "not_hidden";
  }
  
  ret += "'><td>";

  if (vi_data.hidden == true) {
    ret += "<a href='#' onclick='vi_unhide(\"" + vi_data.iid + "\")'>Hidden</a>";
  } else {
    ret += "<a href='#' onclick='vi_hide(\"" + vi_data.iid + "\")'>Visible</a>";
  }
  
  ret += "</td>";
  
  ret += "<td>" + vi_data.iid + "</td>";
  
  ret += "<td>" + vi_data.os_family + "</td>";
  
  ret += "<td>" + vi_data.os_name + "</td>";
  ret += "<td>" + vi_data.location + "</td>";
  ret += "<td>" + vi_data.comment + "</td></tr>";
  $("#vi_comment_gen_" + vi_data.iid).hide();
  return ret;
}

function refresh_vi_list() {
  $.getJSON("/vimage/list",
    function(result) {
      var main_pane = $("#main_pane");
      var html = "<a href='#' class='refresh_vi_list' onclick='refresh_vi_list()'>Refresh image list</a><p><table cellpadding='3'>";
      main_pane.empty();
      html += "<tr><td class='thead'>Hidden?</td><td class='thead'>Image ID</td><td class='thead'>OS Family</td>";
      html += "<td class='thead'>OS Name</td><td class='thead'>Location</td><td class='thead'>Comment</td></tr></tr>";
      for (i = 0; i < result.length; i++) {
        html += get_vi_tr(result[i]);
      }
      html += '</table>'
      main_pane.html(html);
    }
  );
}


$(document).ready(function() {
  refresh_vi_list();
});
</script>
    
<table cellpadding='10'>
<tr>
<td>
<a class='add_link' href="#" onclick="show_add_pane()">Add a new image</a>
</td>
<td id="notice"></td>
</tr>
<tr>
<td valign='top' colspan=2>
  <div id="main_pane"></div>
</td>
</tr>
</table>

    <!--Content ends above this row-->
    <div class="footer">
      This page belongs to the "Core" component of Nova project, hosted at <a href="http://www.github.com/santazhang/nova">http://www.github.com/santazhang/nova</a>.
    </div>
  </body>
</html>

