<% content_for :page do %>

<script type="text/javascript">
$(document).ready(function() {
  load_migration_view();
  load_auto_balance_view();
  load_all_pmachine_info();
  list_xen_hotbackup();
});
</script>

<h2>Live migration</h2>
<div id="migration_view"></div>
<p/>
<a href='#' onclick="load_migration_view()">Refresh</a>

<hr/>
<h2>Management by Pmachine</h2>
<div id="pm_info_view"></div>
<p/>
<a href='#' onclick="load_all_pmachine_info()">Refresh</a>

<% if common_conf["enable_xen_hotbackup"] == true %>
<hr/>
<h2>Xen hot backup</h2>
<div id="xen_hotbackup_view"></div>
<p/>
<div id="xen_hotbackup_add_panel"></div>
<p/>
<a href='#' onclick="list_xen_hotbackup()">Refresh</a>
<% end %>

<hr/>

<h2>Load balance</h2>
Automatically load balancing. <p/>

<div id='load_auto_balance_logs_pane'>
Status: <a id='auto_balance_link' href='#' onclick="toggle_auto_balance()">?</a> (click to toggle)<p/>
Recent logs: &nbsp;&nbsp;&nbsp;&nbsp; <a href='#' onclick='load_auto_balance_logs()'>Refresh</a>
<table bgcolor='#EBEBEB' class='code' width='100%'><tr><td id='load_balance_logs_holder'>
(No logs)
</td></tr></table>
</div>

<% end %>

