<% content_for :page do %>

<script type="text/javascript">
$(document).ready(function() {
  load_migration_view();
  load_auto_balance_view();
});
</script>

<h2>Live migration</h2>
<div id="migration_view"></div>
<p/>
<a href='#' onclick="load_migration_view()">Refresh</a>


<% if common_conf["enable_xen_hotbackup"] == true %>
<hr/>
<h2>Xen hot backup</h2>
<div id="xen_hotbackup_view"></div>
<p/>
<a href='#' onclick="alert('TODO')">Refresh</a>
<% end %>

<hr/>

<h2>All VMs</h2>
Listing of all VMs on each pmachine.
<div id="all_vms_view"></div>
<p/>
<a href='#' onclick="alert('TODO')">Refresh</a>
<hr/>

<h2>Load balance</h2>
Automatically load balancing. <p/>

<div id='load_auto_balance_logs_pane'>
Status: <a id='auto_balance_link' href='#' onclick="toggle_auto_balance()">?</a><p/>
Recent logs: &nbsp;&nbsp;&nbsp;&nbsp; <a href='#' onclick='load_auto_balance_logs()'>Refresh</a>
<table bgcolor='#EBEBEB' class='code' width='100%'><tr><td id='load_balance_logs_holder'>
(No logs)
</td></tr></table>
</div>

<% end %>

