<% content_for :page do %>

<script type="text/javascript">
$(document).ready(function() {
  load_migration_view();
});
</script>

<div id="migration_view"></div>
<p/>
<a href='#' onclick="load_migration_view()">Refresh</a>

<% end %>
