<%
  @nav_bar_current = "Resources"
  @layout_resize_callback = "do_layout"
%>


<%
  ###################################################################################
%>



<% content_for :layout_style_and_scripts do %>


<script type="text/javascript" src="/javascripts/fg-menu/fg.menu.js"></script>
<script type="text/javascript" src="/javascripts/jquery.blockUI.js"></script>
<link href="/stylesheets/fg-menu/fg.menu.css" rel="stylesheet" type="text/css" />

<!-- styles for fg menu -->
<style type="text/css">


.fg-menu-container{ z-index:100;}


.hidden { position:absolute; top:0; left:-9999px; width:1px; height:1px; overflow:hidden; }

.fg-button { clear:left; margin:0 4px 40px 0px; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
a.fg-button { float:left;  }
button.fg-button { width:auto; overflow:visible; } /* removes extra button width in IE */

.fg-button-icon-left { padding-left: 2.1em; }
.fg-button-icon-right { padding-right: 2.1em; }
.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }
.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	 /* solo icon buttons must have block properties for the text-indent to work */	

.fg-button.ui-state-loading .ui-icon { background: url(/images/spinner_bar.gif) no-repeat 0 0; }
</style>

<!-- style exceptions for IE 6 -->
<!--[if IE 6]>
<style type="text/css">
	.fg-menu-ipod .fg-menu li { width: 95%; }
	.fg-menu-ipod .ui-widget-content { border:0; }
</style>
<![endif]-->

<style type="text/css" media="screen">

a.left_nav_button {
  display: block;
  height: 35;
  color: black;
  overflow: hidden;
  padding-left: 20px;
  line-height: 35px;
  text-decoration: none;
}

a.left_nav_button:hover {
  background-color: #bbaabb;
}

a.left_nav_current {
  color: #ddeeee;
  font-weight: bold;
  background-image: url(/images/left-nav-btn-bg.gif);
}

.nav_bar_list_holder {
/* width & height set by js in do_layout */
  border-top: 1px solid #BBB;
  overflow: auto;
  overflow-x: hidden;
}

#left_nav_bottom {
  height: 30px;
  z-index: 100;
  border-top: 1px solid #BBB;
}

</style>


<script type="text/javascript">

  function getWindowHeight() {
    return window.innerHeight || (window.document.documentElement.clientHeight || window.document.body.clientHeight);
  }

  function do_layout() {
    $(".nav_bar_list_holder").height($("#layout_left_pane").height() - 2 * $(".left_nav_button").height() - $("#left_nav_bottom").height());
    $(".nav_bar_list_holder").css("width", $("#layout_left_pane").width());
    $(".left_nav_button").css("width", $("#layout_left_pane").width());
    $("#left_nav_bottom").css("width", $("#layout_left_pane").width());
  };
  
  window.onresize = do_layout;
  
  $(document).ready(function(){
    
    // override default left pane overflow settings
    $("#layout_left_pane").css("overflow", "hidden");
    
    // by default. show vmachine images
    list_vm_images();
    
    $('#left_nav_bar_bottom_add_btn').menu({ 
			content: $('#left_nav_add_btn_menu').html(), // grab content from this page
			showSpeed: 400,
			positionOpts: {
			  directionV: "up",
			  posX: 'left',
			  posY: 'bottom',
			  offsetX: 0,
			  offsetY: 0
			}
		});
		
    
    $('.fg-button').hover(
  		function(){ $(this).removeClass('ui-state-default').addClass('ui-state-focus'); },
  		function(){ $(this).removeClass('ui-state-focus').addClass('ui-state-default'); }
  	);
    
  });
  
  
  function list_vm_images() {
    $("#network_pools_overview").hide();
    $("#left_nav_btn_list_network_pools").removeClass("left_nav_current");
    $("#left_nav_btn_list_vm_images").addClass("left_nav_current");
    $("#vm_images_list_holder").show();
    $("#network_pools_list_holder").hide();
    $("#vdisk_overview").show();

    refresh_vm_images();

    do_layout();
  }
  
  function list_network_pools() {
    $("#network_pools_overview").show();
    $("#left_nav_btn_list_vm_images").removeClass("left_nav_current");
    $("#left_nav_btn_list_network_pools").addClass("left_nav_current");
    $("#network_pools_list_holder").show();
    $("#vm_images_list_holder").hide();
    $("#vdisk_overview").hide();
    
    $("#network_pools_list_holder").html("");
    do_layout();
  }

<%
  @@netpool_listing_count = 5
%>

  function netpool_regen() {

    size_array = "";
    count_array = "";
    for (i = 1; i < <%= @@netpool_listing_count %>; i++) {
      size_array += $("#network_pools_size_" + i).val() + " ";
      count_array += $("#network_pools_count_" + i).val() + " ";
    }
    
    $.ajax({
      type: "POST",
      url: "/system/reconstruct_netpool.json",
      data: {
        first_ip: $("#network_pools_first_ip").val(),
        subnet_mask: $("#network_pools_mask").val(),
        intranet_device: $("#network_pools_device").val(),
        size_array: size_array,
        count_array: count_array
      },
      dataType: "json",
      error: function(e) {
        show_message(e); 
      },
      success: function(result) {
        $("#regenerated_netpool_dhcpdconf").text(result.dhcpdconf);
        $("#regenerated_netpool_interfaces").text(result.interfaces);
        $("#regenerated_netpool_settings").show();
      }
    });
  }

  function do_refresh() {
    if ($("#vm_images_list_holder").is(':visible')) {
      refresh_vm_images();
    }
  }

  function refresh_vm_images() {
    $("#vm_images_list_holder").block({message: "Loading..."});
    $("layout_center_pane").block({message: "Loading..."});

    $.ajax({
      type: "GET",
      url: "/vdisks",
      dataType: "json",
      error: function(e) {
        show_message("Failed to download list of vdisks! Check your network connection!");
        $("#vm_images_list_holder").unblock();
        $("layout_center_pane").unblock();
      },
      success: function(result) {
        
        var html_str = "";
        for (i = 0; i < result.length; i++) {
          html_str += result[i].display_name + "<br>"
        }
        $("#vm_images_list_holder").html(html_str);

        $("#vm_images_list_holder").unblock();
        $("layout_center_pane").unblock();
      }
    });
    
  }

  var add_vdisk_dialog;

  function add_vdisk() {
    if (add_vdisk_dialog == null) {
      add_vdisk_dialog = $("#add_vdisk_dialog").dialog({
        modal: true,
        width: 700,
        height: $.browser.msie ? 750 : 480, // IE has layout problems
        resizable: true,
        draggable: $.browser.msie == false, // IE has layout problems
        hide: "slide",
        show: "slide",
        title: "Add new vdisk",
        buttons: {
          "OK": function(e) {
            this_dialog = $(this);
            $.ajax({
              type: "POST",
              url: "/vdisks/register",
              data: {
                upload_name: $("#add_vdisk_filename").val(),
                display_name: $("#add_vdisk_display_name").val(),
                internal_name: $("#add_vdisk_internal_name").val(),
                type: $("#add_vdisk_type").val(),
                comment: $("#add_vdisk_comment").val()
              },
              dataType: "json",
              error: function(e) {
                show_message(e);
                this_dialog.dialog("close");
              },
              success: function(result) {
                this_dialog.dialog("close");
                list_vm_images();
                show_message(result.message);
              }
            });
          },
          "Cancel": function(e) {
            $(this).dialog("close");
          }
        }
      });
    }
    add_vdisk_dialog.dialog("open");
  }
  
</script>
  
<% end -%>


<%
  ###################################################################################
%>


<% content_for :layout_left_frame do %>

<a id="left_nav_btn_list_vm_images" class="left_nav_button" href="#" onclick="list_vm_images()">
  Virtual Machine Images
</a>

<a id="left_nav_btn_list_network_pools" class="left_nav_button left_nav_current" href="#" onclick="list_network_pools()">
  Network Pools
</a>

<div id="vm_images_list_holder" class="nav_bar_list_holder"></div>
<div id="network_pools_list_holder" class="nav_bar_list_holder"></div>

<div id="left_nav_bottom">

  <div id="left_nav_add_btn_holder">

    <a tabindex="0" href="#" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="left_nav_bar_bottom_add_btn"><span class="ui-icon ui-icon-circle-plus"></span>Add</a>
    <div id="left_nav_add_btn_menu" class="hidden">
      <ul>
        <li><a href="#" onclick="add_vdisk()">Virtual Machine Image</a></li>
        <!--
        <li><a href="#">Network Pool</a></li>
        -->
      </ul>
    </div>
    <a href="#" class="fg-button ui-widget ui-state-default ui-corner-all" style="position:absolute;left:75" onclick="do_refresh()">Refresh</a>
  </div>

</div>

<% end -%>


<%
  ###################################################################################
%>



<% content_for :layout_center_frame do %>

<div id="network_pools_overview" style="display:none;">
<p align="center">
  Net pool definition: Make sure you know what you are doing!<br>
  (Also, make sure you have executed 'first_run.sh' in the master folder once and ONLY ONCE)
</p>
<p align="center">
<table>
  <tr>
    <td>First available IP for allocation: <input type="text" id="network_pools_first_ip" /></td>
  </tr>
  <tr>
    <td>Subnet mask: <input type="text" value="255.255.255.0" id="network_pools_mask" /></td>
  </tr>
  <tr>
    <td>Intranet Device: <input type="text" size=5 id="network_pools_device" /></td>
  </tr>

  <tr>
    <td align="center">
      <table>
        <tr>
          <th>Net pool size</th>
          <th>Count</th>
        </tr>
        <% 1.upto(@@netpool_listing_count) do |n| %>
          <tr>
            <td>
              <input type="text" id="network_pools_size_<%= n %>" />
            </td>
            <td>
              <input type="text" id="network_pools_count_<%= n %>" />
            </td>
          </tr>
        <% end-%>
      </table>
    </td>
  </tr>

  <tr>
    <td align="center">
      <button onclick="netpool_regen()">Re-Generate settings</button>
    </td>
  </tr>
</table>

<div id="regenerated_netpool_settings" style="display:none;">
  <hr>
  <pre id="regenerated_netpool_interfaces"></pre>
  <hr>
  <pre id="regenerated_netpool_dhcpdconf"></pre>
</div>

</p>
</div>

<div id="vdisk_overview" style="diaply:none;">
  How to add new vdisks?<br>
  First of all, upload your vdisk image to the storage server (in the 'vdisks_upload' directory). The filename cannot contain whitespace! Then click the "Add" button, choose "Virtual Machine Image". In the "add" dialog, find you filename on the left list. You should provide the image filename, display name (will be shown to users), and internal (lower case, descriptive filename), and image type. And you can add comments, too.
</div>

<div id="add_vdisk_dialog" style="display:none;">
<table>
  <tr>
    <td valign="top">
      <table width=270>
        <tr>
          <td>
            List of uploaded vdisks:
            <textarea cols=24 rows=12><%=
              text = ""
              VdisksHelper::Helper.upload_list.each {|f| text += f + "\n\n"}
              text
            %></textarea>
          </td>
        </tr>
      </table>
    </td>
    <td valign="top">
      <table width=380>
        <tr><td>File name: <input type="text" id="add_vdisk_filename"/></td></tr>
        <tr><td>Diaplay name: <input type="text" id="add_vdisk_display_name"/></td></tr>
        <tr><td>Internal name: <input type="text" id="add_vdisk_internal_name"/></td></tr>
        <tr><td>Image type: <select id="add_vdisk_type">
          <option>iso</option>
          <option>sys</option>
          <option>sys.cow</option>
          <option>user</option>
          <option>user.cow</option>
        </select></td></tr>
        <tr><td>Comment: <br> <textarea rows=4 cols=32 id="add_vdisk_comment"></textarea></td></tr>
      </table>
    </td>
  </tr>
</table>
<div>

<% end -%>

