<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="show_sql">false</property>
		<property name="format_sql">false</property>
		<property name="dialect">nova.common.db.SQLiteDialect</property>
		<property name="connection.driver_class">org.sqlite.JDBC</property>
		<property name="connection.url">jdbc:sqlite:data/db/nova-master.sqlite3</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="connection.autocommit">false</property>
		<property name="connection.username"></property>
		<property name="connection.password"></property>

		<mapping resource="schema/Pnode.hbm.xml" />
		<mapping resource="schema/Vnode.hbm.xml" />
		<mapping resource="schema/Appliance.hbm.xml" />
		<mapping resource="schema/Vcluster.hbm.xml" />
		<mapping resource="schema/Vdisk.hbm.xml" />
		<mapping resource="schema/Migration.hbm.xml" />
		<mapping resource="schema/Users.hbm.xml" />
	</session-factory>
</hibernate-configuration>
