<%= javascript_include_tag 'prototype.js' %>
<script type='text/javascript'>
  function toggle_activated(uid, actv) {
    new Ajax.Request('/users/' + uid, {
      method: 'put',
      parameters: {activated: actv},
      onSuccess: function(transport, json) {
        window.location.reload();
      }
    });
  }
</script>
<h1><%= if current_user
    str = current_user.login + "<br>" + current_user.groups.collect {|g| g.name + ", "}.to_s + "<br>"
## show list of users
## root:root is not allowed to be de-activated
## and current user is not allowed to be de-activated, too
    str += "List of users:<p>"
    if current_user.in_group? 'root'
      User.all.each do |user|
        str += user.login + ": "
        user.groups.each do |g|
          str += g.name + ","
        end
        if (user.login == 'root' or user == current_user)
          str += "------" + user.activated.to_s
        else
          str += "-----" + "<a href='#' onclick='toggle_activated(#{user.id}, #{!user.activated})'>" + user.activated.to_s + "</a>"
        end
        str += "<p>";
      end
    elsif current_user.in_group? "admin"
      User.all.each do |user|
        str += user.login + ": "
        user.groups.each do |g|
          str += g.name + ","
        end
        if user == current_user or user.in_group? "root"
          str += "------" + user.activated.to_s
        else
          str += "-----" + "<a href='#' onclick='toggle_activated(#{user.id}, #{!user.activated})'>" + user.activated.to_s + "</a>"
        end
        str += "<p>";
      end
    end

    str
  else
    "Not logged in!"
  end
 %></h1>

<% require 'pp'
pp self.current_user
%>

<%= link_to 'logout', '/logout' %>


<% str = ""
  #self.methods.sort.each {|m| str += m.to_s + "<br>"}
  %>

<%= str %>

