.superadmin-manual-icon {
    background-image:url(images/grid16x16.png) !important;
}
.superadmin-manual-shortcut img {
    background-image: url(images/grid48x48.png);
}
.superadmin-manual-option {
	background-image: url(images/plugin.gif) !important;
}
.superadmin-manual-add {
	background-image: url(images/add.gif) !important;
}
.superadmin-manual-remove {
	background-image: url(images/delete.gif) !important;
}