<%
  vm = Vmachine.find params[:id]
  # vm.vcluster.user == current_user goes wrong after db:migrate, so use login name to check user equality
  if vm and vm.vcluster and vm.vcluster.user and vm.vcluster.user.login == current_user.login
%>
<html>
  <head>
    <title>VNC for '<%= vm.hostname %>'</title>
  </head>
  <body>
    <hr>
    <applet CODE=VncViewer.class ARCHIVE=/vncviewer.jar WIDTH=1280 HEIGHT=900>
      <param name=PORT value=<%= common_conf["vm_vnc_port"] %>>
      <param name=PASSWORD value='<%= vm.id %>'>
    </applet>
  </body>
</html>
<%else%>
  <font color='red'>Oops, you are not allowed to view this vmachine!</font>
<%end-%>
