<%
  vm = Vmachine.find params[:id]
  # vm.vcluster.user == current_user goes wrong after db:migrate, so use login name to check user equality
  if vm and vm.vcluster and vm.vcluster.user and vm.vcluster.user.login == current_user.login
%>
<html>
  <head>
    <title>VNC for vm-<%= vm.id %></title>
  </head>
  <body>
    You are observing vm-<%= vm.id %> via VNC on port <%= vm.vnc_port %>.<br>
    <hr>
    <applet CODE=VncViewer.class ARCHIVE=/vncviewer.jar WIDTH=800 HEIGHT=640>
      <param name=PORT value=<%= vm.vnc_port%>>
      <param name=PASSWORD value='All your base are belong to us'>
    </applet>
  </body>
</html>
<%else%>
  Oops, you are not allowed to view this vmachine!
<%end-%>
