<%
require "yaml"

vm_name = params[:id]
conf = YAML::load File.read "#{RAILS_ROOT}/../common/config/conf.yml"
vnc_port = conf["vm_vnc_port"]
%>
<html>
<head>
<script type="text/javascript" src="/javascripts/deployJava.js">
</script>
<title>VNC on <%= vm_name %></title>
</head>
<body>
<%=
begin
<<VNC
<script type="text/javascript">
function check_java_installed() {
  if (deployJava.versionCheck("1.6") == false) {
    alert("Please install Java first! Get it from http://www.java.com");
  }
}
window.onload = check_java_installed;
</script>
<applet code="VncViewer.class" archive="/vncviewer.jar" width="1280" height="840">
  <param name="port" value="#{vnc_port}">
  <param name="password" value="#{vm_name[4..-1]}">
</applet>
VNC
rescue
"<font color='red'>Error occured, please check your parameter!</font>"
end
%>
</body>
</html>
