<%
require "yaml"

vm_name = params[:id]
conf = YAML::load File.read "#{RAILS_ROOT}/../common/config/conf.yml"
vnc_port = conf["vm_vnc_port"]
%>
<html>
<head>
<title>VNC on <%= vm_name %></title>
</head>
<body>
<%=
begin
<<VNC
<applet code="VncViewer.class" archive="/vncviewer.jar" width="1280" height="800">
  <param name="port" value="#{vnc_port}">
  <param name="password" value="#{vm_name[4..-1]}">
</applet>
VNC
rescue
"<font color='red'>Error occured, please check your parameter!</font>"
end
%>
</body>
</html>
