<%
  @nav_bar_current = "Home"
%>

<% content_for :layout_left_frame do %>

  <% 30.times do |n| %>
  <p> <%= n %>  LEFT is blah-blah-blah, and you are ROOT</p>
  <% end -%>

<% end -%>



<% content_for :layout_center_frame do %>

  <% 30.times do |n| %>
  <p> <%= n %>  CENTER is blah-blah-blah, and you are ROOT</p>
  <% end -%>

<% end -%>

