.admin-monitor-icon {
    background-image:url(images/grid16x16.png) !important;
}
.admin-monitor-shortcut img {
    background-image: url(images/grid48x48.png);
}
.admin-monitor-option {
	background-image: url(images/plugin.gif) !important;
}

.admin-monitor-refresh {
	background-image: url(images/refresh.gif) !important;
}
.admin-monitor-add {
	background-image: url(images/add.gif) !important;
}
.admin-monitor-remove {
	background-image: url(images/delete.gif) !important;
}
