<html>
  <head>
    <title>Controls for User</title>
  </head>
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <script src="/jquery.min.js" type="text/javascript"></script>
  <body>
    <center><h1>Controls for User</h1></center>
    <hr>
    <!--Content starts below this row-->

<style type="text/css">
.error_msg {
  color: red;
}

.success_msg {
  color: green;
}

.user_name {
  color: #70654d;
}

.refresh_user_list {
  color: gray;
}
</style>

<script>

function show_msg(msg, success) {
  var notice_pane = $("#notice");
  if (success) {
    notice_pane.html("<div class='success_msg'>" + msg + "</div>");
  } else {
    notice_pane.html("<div class='error_msg'>" + msg + "</div>");
  }
}

function add_new_vcluster(user_name) {
  $.getJSON("/vcluster/create", 
    function(result) {
      if (result.success) {
        $.getJSON("/user/add_vcluster/" + user_name + "/" + result.vcluster_cid,
          function(result2) {
            if (result2.success) {
              show_info(user_name);
            }
            show_msg(result.msg + ";" + result2.msg, result2.success);
          }
        );
      } else {
        show_msg(result.msg, result.success);
      }
    }
  );
}

function add_existing_vcluster(user_name) {
  var vcluster_cid = $("input[name='vcluster_cid']").val();
  $.getJSON("/user/add_vcluster/" + user_name + "/" + vcluster_cid,
    function(result) {
      if (result.success) {
        show_info(user_name);
      }
      show_msg(result.msg, result.success);
    }
  );
}

function remove_vcluster(user_name, vcluster_cid) {
  $.getJSON("/user/remove_vcluster/" + user_name + "/" + vcluster_cid,
    function(result) {
      show_msg(result.msg, result.success);
      if (result.success) {
        show_info(user_name);
      }
    }
  );
}

function show_info(user_name) {
  var info_pane = $("#info_pane");
  $.getJSON("/user/info/" + user_name,
    function(result) {
      var html = "User email: " + result.email + "<p>User's vcluster list:<p>";
      for (i = 0; i < result.vclusters.length; i++) {
        html += result.vclusters[i] + " <a href='#' onclick=\"remove_vcluster('"
              + user_name + "', '" + result.vclusters[i] + "')\">remove!</a><br>";
      }
      html += "<p><a href='#' onclick=\"add_new_vcluster('" + user_name + "')\">Add new vcluster</a><br>"
            + "Existing vcluster cid: <input type='text' name='vcluster_cid'>"
            + "<a href='#' onclick=\"add_existing_vcluster('"+ user_name + "')\">Add</a>";
      info_pane.html(html);
    }
  );
}

function refresh_user_list() {
  var user_list = $("#user_list");
  user_list.empty();
  $.getJSON("/user/list",
    function(result) {
      for (i = 0; i < result.length; i++) {
        user_list.append("<a href='#' class='user_name' onclick='show_info(\"" + result[i] + "\")'>" + result[i] + "</a><br>");
      }
    }
  );
}

function add_new_user() {
  var new_user_email = $("input[name='input_user_name']").val();
  $.getJSON("/user/add/" + new_user_email,
    function(result) {
      if (result.success) {
        refresh_user_list();
      }
      show_msg(result.msg, result.success);
    }
  );
}

$(document).ready(function() {
  refresh_user_list();
});

</script>

<table cellpadding='10'>
<tr>
<td>
  New user email: <input name="input_user_name" type="text"><a href="#" onclick="add_new_user()">Add</a>
</td>
<td id="notice"></td>
</tr>
<tr>
<td valign='top'>
  <a href="#" class='refresh_user_list' onclick="refresh_user_list()">Refresh user list</a><p>
  <div id="user_list"></div>
</td>
<td valign="top">
  <div id="info_pane">Click a user name to show detail information.</div></td>
</tr>
</table>

    <!--Content ends above this row-->
    <div class="footer">
      This page belongs to the "Core" component of Nova project, hosted at <a href="http://www.github.com/santazhang/nova">http://www.github.com/santazhang/nova</a>.
    </div>
  </body>
</html>
