<% content_for :head_section do %>
<!--[if IE]>
<script type="text/javascript" src="/javascripts/excanvas.min.js"></script>
<![endif]-->
<script type="text/javascript" src="/javascripts/jquery.flot.min.js"></script>
<% end %>

<% content_for :page do %>
<p/>

<script type="text/javascript">

var g_curr_loading_monitor_id = 0;

var g_all_pm_info = [
  // [ip, pm_id]
  <%= (Pmachine.all.collect {|pm| ["#{pm.ip}", pm.id].to_json}).join "," %>
];

$(document).ready(function() {
  load_all_monitor();
});
</script>

<a href='#' onclick="load_all_monitor()">Reload All</a>

<center>
<div id='all_monitor_holder'></div>
</center>

<p/>
<% end %>

