<% content_for :page do %>
<script type="text/javascript">
$(document).ready(function() {
  load_user_list(1, 20);
});
</script>

<center>
<b>User listing</b><p>

<%
# Don't put anything inside <div></div>. We had some code checking if $("#user_table_container").html() == ""
%>
<div id="user_table_container"></div>
</center>

<% end %>

